body {
  font-family: Calibri;
  font-size: 15px
}
h1{
  text-align:center;
  color:blue;
}
h3{
  text-align:center;
}
ul {
  font-family: Calibri
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  text-align: left;
}
th, td {
  padding: 8px;
}
.oddli {
  color: blue;
}
.evenli {
  color: red;
}
