body {
  font-family: Calibri;
  font-size: 15px;
  margin-left: 90px;
}
p {
  font-family: Calibri;
}
h1 {
  text-align:center;
  color:blue;
  font-family: Calibri ;
}
h3 {
  text-align:center;
}
ul {
  font-family: Calibri;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Calibri;
}
th {
  text-align: left;
}
th, td {
  padding: 10px;
}
.oddli {
  color: blue;
}
.evenli {
  color: red;
}
